<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ws.kotonoha.android" android:versionCode="2"
          android:versionName="0.2-PRE">
  <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>

  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name="ws.kotonoha.android.activities.KotonohaMain" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="ws.kotonoha.AUTH"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".activities.BrowserAuthActivity" android:label="Auth">
      <intent-filter android:label="Login to Kotonoha" android:priority="65536">
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <action android:name="android.intent.action.VIEW"/>
        <data android:scheme="http" android:host="kotonoha.ws" android:pathPattern="intent/auth?data=.*"/>
        <data android:scheme="https" android:host="kotonoha.ws" android:pathPattern="intent/.*"/>
        <data android:scheme="kotonoha"/>
      </intent-filter>
    </activity>

    <activity android:name="ws.kotonoha.android.activities.WordFormActivity" android:label="@string/word_form_name">
    </activity>

    <activity android:name="ws.kotonoha.android.voice.VoiceRecognition" android:label="@string/voice_record_act_name">
    </activity>

    <activity android:name=".activities.SettingsActivity">

    </activity>

    <service android:name="ws.kotonoha.android.services.DataService" label="Kotonoha Data Service">
    </service>

    <uses-library android:name="android.test.runner"/>
  </application>
</manifest>
